# Can read book for in depth : Recommender systems by Jannach and Zanker

In [1]:
import numpy as np
import pandas as pd

In [2]:
columns_names = ['user_id','item_id','rating','timestamp']

In [3]:
df=pd.read_csv('u.data',sep='\t',names=columns_names)

In [4]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
movie_titles=pd.read_csv('Movie_Id_Titles')

In [6]:
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [9]:
df=pd.merge(df,movie_titles,on='item_id')
df.head()

   user_id  item_id  rating  timestamp           title_x           title_y
0        0       50       5  881250949  Star Wars (1977)  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)  Star Wars (1977)

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
sns.set_style('white')

In [19]:
df.groupby('title')['rating'].mean().sort_values(ascending=False).head()

KeyError: 'title'

In [20]:
df.groupby('title')['rating'].count().sort_values(ascending=False).head()

KeyError: 'title'